nav {
    display: flex;
    justify-content: space-around;
    background: #1c6e2c;
    padding: 1em;
    margin-bottom: 1em;
    font-family: sans-serif;
  }
  
  nav h1 {
    text-decoration: none;
    font-size: 2em;
    color: white;
  }
  
  nav img {
    height: 50px;
  }

  .main h2 {
    color:whitesmoke;
    font-family: sans-serif;
  }

  .main p {
    color:whitesmoke;
    font-family: sans-serif;
  }

  .main {
    background-color: #332f12 ;
    padding: 1em;
    min-height: 80vh;
  }